---
import { TimeAndYear, CVButton } from "../UI/";
---

<section class="presentation">
  <div class="presentation__container">
    <div class="presentation__name">JAVIER ANDRES / DRESAN</div>
    <h1 class="presentation__title">Frontend Developer</h1>
    <p class="presentation__description">
      Hi, I'm Andres, a software developer focused on the frontend, specifically
      on web technologies, based in Colmbia. My mission is to create solutions
      that adapt to the needs of users and clients.
    </p>
  </div>

  <CVButton />
  <TimeAndYear />
</section>

<style>
  .presentation__container {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }

  .presentation__name {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
  }

  .presentation__title {
    position: relative;
    margin-bottom: 2.5rem;
    width: min-content;
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 112%;
  }
  .presentation__title::after {
    content: "";
    position: absolute;
    right: -1rem;
    bottom: 1rem;
    height: 1.1rem;
    width: 1.1rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
  }
</style>
