---
import { AdviceMessage, H2Heading } from "../UI/";
import Slider from "./Slider";
---

<section id="projects">
  <H2Heading title="Projects" />
  <AdviceMessage />
  <Slider client:load />
</section>
