<button aria-label="close menu" title="close menu" class="close-btn">
  <span class="close-btn__line close-btn__line--top"></span>
  <span class="close-btn__line close-btn__line--bottom"></span>
</button>

<style>
  .close-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 4rem;
    height: 3rem;
  }

  .close-btn__line {
    position: absolute;
    top: 1.3rem;
    width: 100%;
    height: 0.4rem;
    background-color: var(--text-color);
    border-radius: 0.1rem;
  }

  .close-btn__line--top {
    transform: rotate(45deg);
  }

  .close-btn__line--bottom {
    transform: rotate(-45deg);
  }
</style>
