---
import { Logo } from "../UI";
import { CloseMenuBtn, MenuNavigation, MenuOptions } from "./";
import { Links } from "../UI/";
---

<div class="menu">
  <div class="menu__header">
    <Logo />
    <CloseMenuBtn />
  </div>

  <div>
    <MenuNavigation />
    <MenuOptions />
  </div>

  <Links />
</div>

<style>
  .menu {
    overflow: auto;
    position: fixed;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background-color) url(../../assets/images/bg-mobile.webp)
      no-repeat fixed;
    background-size: cover;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .menu--active {
    transform: translateX(0);
  }

  .menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    padding-bottom: 0;
    width: 100%;
    height: max-content;
  }

  @media screen and (min-width: 768px) {
    .menu {
      background-image: url(../../assets/images/bg-desktop.webp);
    }

    .menu__header {
      padding: 4rem;
      padding-bottom: 0;
    }
  }
</style>

<script>
  const menu = document.querySelector(".menu")!;
  const menuBtn = document.querySelector(".menu-btn")!;
  const closeBtn = document.querySelector(".close-btn")!;
  const optionsLinks = document.querySelectorAll(".links__link");
  const bodyStyle = document.body.style;

  let scrollY = 0;

  const openMenu = () => {
    menu.classList.add("menu--active");

    scrollY = window.scrollY;

    bodyStyle.overflow = `hidden`;

    if (window.matchMedia("(max-width: 768px)").matches) {
      bodyStyle.position = `fixed`;
      bodyStyle.width = `100%`;
      bodyStyle.height = `calc(100% + ${scrollY}px)`;
      bodyStyle.top = `-${scrollY}px`;
    }
  };

  const closeMenu = () => {
    bodyStyle.removeProperty("overflow");
    bodyStyle.removeProperty("position");
    bodyStyle.removeProperty("width");
    bodyStyle.removeProperty("height");
    bodyStyle.removeProperty("top");

    menu.classList.remove("menu--active");
    window.scrollTo(0, scrollY);
  };

  menuBtn.addEventListener("click", openMenu);

  closeBtn.addEventListener("click", closeMenu);

  optionsLinks.forEach((link) => {
    link.addEventListener("click", closeMenu);
  });
</script>
