---
import { SoundIcon } from "../UI/";
---

<div class="menu-options">
  <button aria-label="turn off sound" title="Turn off sound">
    <SoundIcon />
  </button>
</div>

<style>
  .menu-options {
    margin-bottom: 6rem;
    padding-top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
