<nav class="nav">
  <ul class="nav__links links">
    <li>
      <a class="links__link" href="/">Home</a>
    </li>
    <li>
      <a class="links__link" href="#skills">Skills</a>
    </li>
    <li>
      <a class="links__link" href="#projects">Projects</a>
    </li>
    <li>
      <a class="links__link" href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<style>
  .nav__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3.5rem;
  }

  .links__link {
    font-weight: 600;
  }
</style>
