<nav class="nav">
  <ul class="nav__links links">
    <li>
      <a class="links__link" href="/">Home</a>
    </li>
    <li>
      <a class="links__link" href="#skills">Skills</a>
    </li>
    <li>
      <a class="links__link" href="#projects">Projects</a>
    </li>
    <li>
      <a class="links__link" href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<style>
  .nav__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin-top: 6rem;
    height: 100%;
  }

  .links__link {
    font-weight: 600;
  }

  @media screen and (min-width: 768px) {
    .links__link {
      display: block;
      transition: color 0.3s ease, transform 0.3s ease;
    }

    .links__link:hover {
      transform: skew(-15deg);
      color: var(--yellow-color);
    }
  }
</style>
