---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Javier Andres Portfolio ðŸ‘‹ðŸ¼">
  <main class="main">
    <Header />
  </main>
</Layout>

<style>
  .main {
    padding: 3rem;
  }
</style>
