---
import { Links, ContactForm } from "./";
import { H2Heading } from "../UI/";
---

<section id="contact">
  <H2Heading title="Contact" />
  <ContactForm />
  <div class="links-container">
    <Links />
  </div>
</section>

<style>
  .links-container {
    width: max-content;
    margin: 0 auto;
  }
</style>
