---
import LinkIcon from "./LinkIcon.astro";
---

<ul class="links">
  <li>
    <a class="links__link" href="https://github.com/dresandev" target="_blank">
      <LinkIcon /> Github
    </a>
  </li>
  <li>
    <a
      class="links__link"
      href="mailto:javiandres.016@correo.com"
      target="_blank"
    >
      <LinkIcon /> Email
    </a>
  </li>
  <li>
    <a
      class="links__link"
      href="https://linkedin.com/in/javier-andres-dev"
      target="_blank"
    >
      <LinkIcon /> Linkedin
    </a>
  </li>
</ul>

<style>
  .links {
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .links__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    font-weight: bold;
  }
</style>
