---
import LinkIcon from "./LinkIcon.astro";
---

<ul class="links">
  <li>
    <a class="links__link" href="#">
      <LinkIcon /> Gihub
    </a>
  </li>
  <li>
    <a class="links__link" href="#">
      <LinkIcon /> Email
    </a>
  </li>
  <li>
    <a class="links__link" href="#">
      <LinkIcon /> Linkedin
    </a>
  </li>
</ul>

<style>
  .links {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-style: 1.8rem;
    font-weight: bold;
  }

  .links__link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
