---
import logo from "../assets/icons/logo.svg";
---

<a href="/">
  <img class="logo" src={logo} alt="dresan logo" />
</a>

<style>
  .logo {
    position: relative;
    height: 5rem;
    width: 13.186rem;
  }
</style>
