---
import { Presentation, Skills, Projects, Contact } from "./";
---

<main class="main">
  <Presentation />
  <Skills />
  <Projects />
  <Contact />
</main>

<style>
  /* .main{
    background-color: var(--background-color);
  } */
</style>