<div class="options">
  <button>
    <svg
      class="options__icon"
      width="40"
      height="45"
      viewBox="0 0 40 45"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20 8.11111C18.8889 8.11111 17.9352 7.71296 17.1389 6.91667C16.3426 6.12037 15.9444 5.16667 15.9444 4.05556C15.9444 2.94444 16.3426 1.99074 17.1389 1.19444C17.9352 0.398148 18.8889 0 20 0C21.1111 0 22.0648 0.398148 22.8611 1.19444C23.6574 1.99074 24.0556 2.94444 24.0556 4.05556C24.0556 5.16667 23.6574 6.12037 22.8611 6.91667C22.0648 7.71296 21.1111 8.11111 20 8.11111ZM14.0556 44.4444V14.8333C11.537 14.6481 9.10185 14.3889 6.75 14.0556C4.39815 13.7222 2.14815 13.2963 0 12.7778L0.833333 9.44444C3.98148 10.1852 7.11111 10.713 10.2222 11.0278C13.3333 11.3426 16.5926 11.5 20 11.5C23.4074 11.5 26.6667 11.3426 29.7778 11.0278C32.8889 10.713 36.0185 10.1852 39.1667 9.44444L40 12.7778C37.8519 13.2963 35.6019 13.7222 33.25 14.0556C30.8981 14.3889 28.463 14.6481 25.9444 14.8333V44.4444H22.6111V30H17.3889V44.4444H14.0556Z"
        fill="white"></path>
    </svg>
  </button>

  <ul class="language">
    <li>
      <button class="language__option">ES</button>
    </li>
    &nbsp;-&nbsp;
    <li>
      <button class="language__option language__option--selected">EN</button>
    </li>
  </ul>

  <button>
    <svg
      class="options__icon"
      width="40"
      height="39"
      viewBox="0 0 40 39"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M24.4444 38.8889V35.4444C28.037 34.4074 30.9722 32.4167 33.25 29.4722C35.5278 26.5278 36.6667 23.1852 36.6667 19.4444C36.6667 15.7037 35.537 12.3519 33.2778 9.38889C31.0185 6.42593 28.0741 4.44445 24.4444 3.44445V0C29.037 1.03704 32.7778 3.36111 35.6667 6.97222C38.5556 10.5833 40 14.7407 40 19.4444C40 24.1481 38.5556 28.3056 35.6667 31.9167C32.7778 35.5278 29.037 37.8519 24.4444 38.8889ZM0 26.1667V12.8333H8.88889L20 1.72222V37.2778L8.88889 26.1667H0ZM23.3333 28.8333V10.1111C25.3704 10.7407 26.9907 11.9259 28.1944 13.6667C29.3982 15.4074 30 17.3519 30 19.5C30 21.6111 29.3889 23.537 28.1667 25.2778C26.9444 27.0185 25.3333 28.2037 23.3333 28.8333Z"
        fill="white"></path>
    </svg>
  </button>
</div>

<style>
  .options {
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.2rem solid var(--gray-color-transparent);
  }

  .options__icon {
    width: 2.5rem;
  }

  .language {
    display: flex;
  }

  .language__option {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .language__option--selected {
    color: var(--yellow-color)
  }
</style>
