---
import H2Heading from "./H2Heading.astro";

import technologies from "../data/technologies";
---

<section id="skills" class="skills">
  <H2Heading title="Skills" />
  <p class="skills__description">
    These are some of the technologies that use soil most frequently to create
    projects However, I am a big fan of web technologies in general and I
    constantly stay up to date on emerging and innovative technologies to keep
    learning from them.
  </p>

  <ul class="skills__ul">
    {
      technologies.map((technology) => (
        <li class="skills__li">
          <span class="skills__text">🔹{technology}</span>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .skills__description {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .skills__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 3rem;
  }

  .skills__text {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2em;
  }
</style>
