---
import technologies from "../data/technologies";
---

<section class="skills">
  <h2 class="skills__title title">Skills</h2>
  <p class="skills__description">
    These are some of the technologies that use soil most frequently to create
    projects However, I am a big fan of web technologies in general and I
    constantly stay up to date on emerging and innovative technologies to keep
    learning from them.
  </p>

  <div class="skills__technologies technologies">
    {
      technologies.map((technology): void => {
        const style = `color: ${technology.color};
        filter: drop-shadow(0px 0px 15px ${technology.color}50);`;

        return (
          <h3 class="technologies__technology" style={style}>
            {technology.name}
          </h3>
        );
      })
    }
  </div>
</section>

<style>
  .skills__description {
    margin-bottom: 5rem;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1.3rem;
  }

  .technologies__technology {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.2em;
  }
</style>
