<div class="container">
  <span class="container__time">CO 22:10</span>
  <span class="container__year">2023</span>
</div>

<style>
  .container {
    display: flex;
    justify-content: space-between;
  }
</style>
