.slider-image {
  width: 100%;
  user-select: none;
}

.slider-flex-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.slider-index {
  color: var(--green-color);
  font-size: 1.6rem;
  font-weight: 700;
}

.slider-description {
  flex-basis: 75%;
  font-size: 1.6rem;
}

.slider-links {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}