@import './fonts.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: inherit;
  font-family: 'Jost', sans-serif;
}