@import './fonts.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: inherit;
  font-size: 2rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Jost', sans-serif;
  background: url(../images/background.png) no-repeat fixed;
  background-size: cover;
  color: var(--text-color);
  padding: 2.5rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --background-color: hsl(228, 9%, 11%);
  --text-color: hsl(0, 0%, 100%);
  --primary-color: hsl(3, 100%, 61%);
  --secondary-color: hsl(225, 73%, 57%);
  --secondary-variation-color: hsl(210, 100%, 50%)F;
  --cta-color: hsl(52, 100%, 50%);
}