@import './fonts.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: inherit;
  padding: 0 2.5rem;
  font-size: 2rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background: var(--background-color) url(../images/background.jpg) no-repeat fixed;
  background-size: cover;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea {
  display: block;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::placeholder,
textarea::placeholder {
  color: var(--gray-color);
}

:root {
  --background-color: hsl(228, 9%, 11%);
  --text-color: hsl(0, 0%, 100%);
  --primary-color: hsl(3, 100%, 61%);
  --secondary-color: hsl(225, 73%, 57%);
  --secondary-color-transparent: hsla(225, 73%, 57%, 0.3);
  --secondary-variation-color: hsl(210, 100%, 50%)F;
  --cta-color: hsl(52, 100%, 50%);
  --green-color: hsl(120, 73%, 75%);
  --gray-color: hsl(0, 0%, 78%);
  --gray-color-transparent: hsla(0, 0%, 78%, 0.1);
}