.title {
  position: relative;
  width: fit-content;
  margin: 5rem auto;
}

.title::after {
  content: '';
  display: block;
  width: 70%;
  height: 5px;
  background: var(--primary-color);
  border-radius: .5rem;
}

.title::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -1rem;
  width: 70%;
  height: 5px;
  background: var(--primary-color);
  border-radius: .5rem;
}