<ul class="links">
  <li>
    <a class="links__link" href="https://github.com/dresandev" target="_blank">
      Github
    </a>
  </li>
  <li>
    <a
      class="links__link"
      href="mailto:javiandres.016@correo.com"
      target="_blank"
    >
      Email
    </a>
  </li>
  <li>
    <a
      class="links__link"
      href="https://linkedin.com/in/javier-andres-dev"
      target="_blank"
    >
      Linkedin
    </a>
  </li>
</ul>

<style>
  .links {
    padding: 2.5rem;
    padding-top: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .links__link {
    font-size: clamp(1.8rem, 4vw, 2.2rem);
  }

  @media screen and (min-width: 768px) {
    .links {
      padding: 4rem;
      padding-top: 0;
      gap: 4rem;
    }

    .links__link::after {
      content: "";
      display: block;
      width: 100%;
      max-width: 0;
      height: 0.2rem;
      background-color: var(--white-color);
      border-radius: 0.1rem;
      transition: max-width 0.3s ease-in;
    }

    .links__link:hover::after {
      max-width: 100%;
    }
  }
</style>
